<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/images/roxa.png" type="image/x-icon">
    <title>Os Python On</title>

    <!--=============== REMIXICONS ===============-->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">


    <!-- ===================CSS=================== -->
    <link rel="stylesheet" href="style.css">

</head>
<body>
    <!--=============== HEADER ===============-->
    <header class="header">
      <nav class="nav container">
         <div class="nav__data">
            <a href="{{ url_for('index') }}" class="nav__logo">
               <img class="logo" src="/static/images/roxa.png" alt=""> Os Python On
            </a>
              
              <div class="nav__toggle" id="nav-toggle">
                 <i class="ri-menu-line nav__burger"></i>
                 <i class="ri-close-line nav__close"></i>
              </div>
           </div>

           <!--=============== NAV MENU ===============-->
           <div class="nav__menu" id="nav-menu">
              <ul class="nav__list">
                 <li><a href="{{ url_for('index') }}" class="nav__link">Home</a></li>

             <li><a href="{{ url_for('conceito') }}" class="nav__link">Conceito</a></li>

                 <!--=============== DROPDOWN 1 ===============-->
                 <li class="dropdown__item">
                    <div class="nav__link">
                      Módulos <i class="ri-arrow-down-s-line dropdown__arrow"></i>
                    </div>

                    <ul class="dropdown__menu">

                       <!--=============== DROPDOWN SUBMENU ===============-->
                       <li class="dropdown__subitem">
                          <a href="{{ url_for('modulo1') }}">
                          <div class="dropdown__link">
                            <p>Módulo</p>1<i class="ri-add-line dropdown__add"></i>
                          </div>
                        </a>
                          
                          <li class="dropdown__subitem">
                             <a href="{{ url_for('modulo2') }}">
                             <div class="dropdown__link">
                                Módulo 2<i class="ri-add-line dropdown__add"></i>
                             </div>
                          </a>
     
                       
                             <li class="dropdown__subitem">
                                <a href="{{ url_for('modulo3') }}">
                                <div class="dropdown__link">
                                   Módulo 3<i class="ri-add-line dropdown__add"></i>
                                </div>
                             </a>
     
     
                                <li class="dropdown__subitem">
                                   <a href="{{ url_for('modulo4') }}">
                                   <div class="dropdown__link">
                                      <p>Módulo</p> 4<i class="ri-add-line dropdown__add"></i>
                                   </div>
                                </a>
         
     
                                   <li class="dropdown__subitem">
                                      <a href="{{ url_for('modulo5') }}">
                                <div class="dropdown__link">
                                   Módulo 5<i class="ri-add-line dropdown__add"></i>
                                </div>
                             </a>
     
                             </ul>
                  
                          
                          <li><a href="{{ url_for('index') }}" class="nav__link">FAQ</a></li>
                       </nav>
  </header>

    <main id="maincon">
        <section class="intro">
            <h1>INTRODUÇÃO</h1>
            <p>Bem-vindo ao nosso curso de Scrum Master! Neste programa, você embarcará em uma jornada que o capacitará a liderar equipes ágeis e a promover a colaboração eficaz em ambientes dinâmicos. O Scrum, uma metodologia ágil amplamente utilizada, é fundamental para a entrega rápida e contínua de valor em projetos, especialmente nas áreas de tecnologia e desenvolvimento de produtos.</p>
            
            <div class="image-section">

                <img class="imgestudos" src="/static/images/Imagem estudos 1.png" alt="imagem 1">

                <article>
                    <p>Durante este curso, você aprenderá os princípios e práticas do Scrum, explorando os papéis fundamentais de Scrum Master, Product Owner e equipe de desenvolvimento. Vamos discutir eventos essenciais, como Sprints, Daily Stand-ups e Revisões, além de artefatos como o Backlog e o Incremento de Produto.</p>
                </article>

                
            </div>
                
            
            <div class="image-section">
                
                <article>
                    <p>Através de atividades práticas, estudos de caso e discussões interativas, você adquirirá as habilidades necessárias para facilitar a comunicação, remover obstáculos e criar um ambiente colaborativo que fomente a inovação. Nosso objetivo é prepará-lo para ser um líder servidor, capaz de guiar sua equipe em sua jornada ágil.</p>
        
                    <p>Ao final do curso, você não apenas entenderá como implementar o Scrum de forma eficaz, mas também estará pronto para inspirar e motivar sua equipe a alcançar resultados excepcionais. Estamos animados para começar essa jornada com você e ajudá-lo a se tornar um Scrum Master de sucesso!</p>
                </article>

                <img class="imgestudos" src="/static/images/Imagem estudos 2.png" alt="Imagem 2">
            </div>

        </section>
    </main>

  
    <section class="secmenu" >
      
         <a href="{{ url_for('index') }}">
            <img class="casamodulos" src="/static/images/casabranca.png" alt="">
         </a>
         
      <a href="{{ url_for('modulo5') }}">
         <button class="botaomenu">Avançar</button>
      </a>
      
      </section>
        
<footer> 
        
    <a href="https://github.com/Os-Python-On/API-OsPythonOn">
     <img id="gitfooter" src="/static/images/github.png" alt="GitHub">
  </a>
      <p id="pfooter" >© Copyright Os Python On 2024</p> 
 </footer>

 <!--=============== MAIN JS ===============-->
 <script src="/static/js/main.js"></script>
 <script src="/static/js/faq.js"></script>
    
</body>
</html>
