<body>
    <!--=============== HEADER ===============-->
    <header class="header">
      <nav class="nav container">
         <div class="nav__data">
            <a href="{{ url_for('index') }}" class="nav__logo">
               <img class="logo" src="/static/images/roxa.png" alt=""> Os Python On
            </a>
              
              <div class="nav__toggle" id="nav-toggle">
                 <i class="ri-menu-line nav__burger"></i>
                 <i class="ri-close-line nav__close"></i>
              </div>
           </div>

           <!--=============== NAV MENU ===============-->
           <div class="nav__menu" id="nav-menu">
              <ul class="nav__list">
                 <li><a href="{{ url_for('index') }}" class="nav__link">Home</a></li>

             <li><a href="{{ url_for('conceito') }}" class="nav__link">Conceito</a></li>

                 <!--=============== DROPDOWN 1 ===============-->
                 <li class="dropdown__item">
                    <div class="nav__link">
                      Módulos <i class="ri-arrow-down-s-line dropdown__arrow"></i>
                    </div>

                    <ul class="dropdown__menu">

                       <!--=============== DROPDOWN SUBMENU ===============-->
                       <li class="dropdown__subitem">
                          <a href="{{ url_for('modulo1') }}">
                          <div class="dropdown__link">
                            <p>Módulo</p>1
                          </div>
                        </a>
                          
                          <li class="dropdown__subitem">
                             <a href="{{ url_for('modulo2') }}">
                             <div class="dropdown__link">
                                Módulo 2
                             </div>
                          </a>
     
                       
                             <li class="dropdown__subitem">
                                <a href="{{ url_for('modulo3') }}">
                                <div class="dropdown__link">
                                   Módulo 3
                                </div>
                             </a>
     
     
                                <li class="dropdown__subitem">
                                   <a href="{{ url_for('modulo4') }}">
                                   <div class="dropdown__link">
                                      <p>Módulo</p> 4
                                   </div>
                                </a>
         
     
                                   <li class="dropdown__subitem">
                                      <a href="{{ url_for('modulo5') }}">
                                <div class="dropdown__link">
                                   Módulo 5
                                </div>
                             </a>
     
                             </ul>
                  
                          
                          <li><a href="#faq" class="nav__link">FAQ</a></li>
                       </nav>
  </header>

     <main>
        <section id="secum">


     <article class="artsec1">
          <img id="imghome" src="/static/images/home.png" alt="um grupo de 3 pessoas montando um quebra cabeça">
        
        <div id="textohome">
        <h1 id="h1home">APRENDA <br> MÉTODO SCRUM!</h1>
        
        <p id="paragrafohome"> Aqui, transformamos aspirantes em especialistas em Scrum Master.<br>
           Junte-se a nós e torne-se um agente de mudança no seu ambiente de trabalho!</p>
           
        <a href="{{ url_for('conceito') }}">
           <button class="botaoini" >
              <span id="começarhome" >Começar</span>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 74 74"
                    height="34"
                    width="34"
       >
           <circle stroke-width="3" stroke="black" r="35.5" cy="37" cx="37"></circle>
              <path
                 fill="black"
                 d="M25 35.5C24.1716 35.5 23.5 36.1716 23.5 37C23.5 37.8284 24.1716 38.5 25 38.5V35.5ZM49.0607 38.0607C49.6464 37.4749 49.6464 36.5251 49.0607 35.9393L39.5147 26.3934C38.9289 25.8076 37.9792 25.8076 37.3934 26.3934C36.8076 26.9792 36.8076 27.9289 37.3934 28.5147L45.8787 37L37.3934 45.4853C36.8076 46.0711 36.8076 47.0208 37.3934 47.6066C37.9792 48.1924 38.9289 48.1924 39.5147 47.6066L49.0607 38.0607ZM25 38.5L48 38.5V35.5L25 35.5V38.5Z"
              ></path>
                 </svg>
           </button>
           </a>
        </div>
     </article>
  </section>



        <section id="secquemsomos">

           <h2 id="h2quemsomos">QUEM SOMOS</h2>
           
           <img id="imgquemsomos" src="/static/images/imgquemsomos.png" alt="">
           
           <p id="pquemsomos">
               Na Os Python on, nossa paixão por agilidade e colaboração nos impulsiona a transformar a maneira como as equipes se conectam e 
               alcançam resultados. Somos uma instituição dedicada a formar líderes que não apenas compreendem a metodologia Scrum, mas que também 
               a vivenciam de maneira prática e impactante em suas organizações. Desde a nossa fundação, temos como missão capacitar profissionais 
               a se tornarem Scrum Masters de excelência. Com uma equipe de instrutores experientes e certificados, trazemos uma abordagem holística 
               que combina teoria sólida com práticas reais. Nossos cursos são projetados para criar um ambiente de aprendizado dinâmico, onde os
               alunos são incentivados a se envolver ativamente, trocar experiências e aplicar o que aprendem em situações do dia a dia.
               Acreditamos que a verdadeira transformação ocorre quando as pessoas se sentem confiantes em suas habilidades. Por isso, nossas formações
               incluem simulações, estudos de caso e dinâmicas de grupo que permitem aos participantes enfrentar desafios reais e desenvolver competências <br>
               essenciais, como liderança, comunicação eficaz e resolução de conflitos.
               Na Os Python on, promovemos uma cultura de aprendizado contínuo e inovação. Estamos sempre atualizando nossos conteúdos para refletir as 
               últimas tendências e práticas do mercado, garantindo que nossos alunos estejam sempre à frente. Além disso, criamos uma comunidade vibrante 
               de ex-alunos e profissionais, onde a troca de conhecimentos e experiências é incentivada. <br>
               Nosso compromisso é impactar positivamente a vida de nossos alunos, ajudando-os a se tornarem agentes de mudança em suas equipes e organizações. 
               Queremos que cada Scrum Master formado por nós seja um catalisador para a melhoria contínua, promovendo a agilidade e a eficiência em todos os 
               projetos que liderar.
               Junte-se a nós e descubra como a metodologia Scrum pode transformar não apenas sua carreira, mas também o futuro das equipes com as quais você
               trabalha. Estamos aqui para guiá-lo em sua jornada rumo à excelência em gestão ágil!</p>
           
           </section>

       
<section id="secoqueaprendera" >

  <h3 id="h3aprender">O QUE VOCÊ APRENDERÁ</h3>

<article  id="artaprender" >
  <div class="cardhome">
   <div class="image"><img src="/static/images/2.jpg" alt=""></div>
    <div class="content">
      <a href="#">
        <aside class="title">
           Melhoria Contínua
        </aside>
      </a>
  
      <p class="desc">
        A prática de reflexões regulares, como as retrospectivas de sprint, incentiva a equipe a identificar áreas de melhoria e a implementar mudanças, promovendo um ciclo de aprendizado contínuo que pode aumentar a eficiência e a qualidade do trabalho ao longo do tempo.
      </p>
  
      <a class="action" href="{{ url_for('conceito') }}">
        Começar
        <span aria-hidden="true">
          →
        </span>
      </a>
    </div>
  </div>

  <div class="cardhome">
     <div class="image"><img src="/static/images/1.jpg" alt=""></div>
      <div class="content">
        <a href="#">
          <aside class="title">
           Flexibilidade e Adaptabilidade
          </aside>
        </a>
    
        <p class="desc">
           Aprender Scrum permite que equipes se adaptem rapidamente a mudanças nas demandas do projeto ou nas prioridades do cliente. Isso é especialmente útil em ambientes dinâmicos, onde as necessidades podem evoluir rapidamente.
        </p>
    
        <a class="action" href="{{ url_for('conceito') }}">
          Começar
          <span aria-hidden="true">
            →
          </span>
        </a>
      </div>
    </div>

    <div class="cardhome">
     <div class="image"><img src="/static/images/3.jpg" alt=""></div>
      <div class="content">
        <a href="#">
          <aside class="title">
           Facilitar a Comunicação
          </aside>
        </a>
    
        <p class="desc">
           Facilitar a comunicação no Scrum é fundamental para o sucesso das equipes. Reuniões diárias promovem alinhamento, enquanto a transparência e o feedback constante ajudam a resolver problemas rapidamente, aumentando a colaboração e a produtividade.
        </p>
    
        <a class="action" href="{{ url_for('conceito') }}">
          Começar
          <span aria-hidden="true">
            →
          </span>
        </a>
      </div>
    </div>
  </article>
  
</section>

<section id="faq" >

  <div class="divfaq">
      <h4 id="h4duvidas">Perguntas frequentes</h4>

      <div class="faq">
        <button class="accordion">
          ➤ Terei uma explicação completa sobre o método Scrum?
          <i class="fa-solid fa-chevron-down"></i>
        </button>
        <div class="pannel">
          <p>
          ❯ Sim! Em nosso curso você terá uma explicação completa e detalhada sobre Scrum Master aproveitando 
            o máximo de nossa dinamica de ensino.
          </p>
        </div>
      </div>

      <div class="faq">
        <button class="accordion">
          ➤ Poderei tester meus conhecimentos?
          <i class="fa-solid fa-chevron-down"></i>
        </button>
        <div class="pannel">
          <p>
          ❯ Sim! Ao final de cada módulo terá um questionário de 5 perguntas, e um no final do último módulo 
            para saber o resultado geral do seu estudo.
          </p>
        </div>
      </div>

      <div class="faq">
        <button class="accordion">
          ➤ Poderei acessar o curso por celulares ou apenas computador?
          <i class="fa-solid fa-chevron-down"></i>
        </button>
        <div class="pannel">
          <p>
          ❯ Poderá acessar sem problemas pelo celular
          </p>
        </div>
      </div>

</section>

</main>

<footer> 
       
  <a href="https://github.com/Os-Python-On/API-OsPythonOn">
      <img id="gitfooter" src="/static/images/github.png" alt="GitHub">
  </a>
      <p id="pfooter" >© Copyright Os Python On 2024</p> 
</footer>
<!--=============== MAIN JS ===============-->
     <script src="/static/js/main.js"></script>
     <script src="/static/js/faq.js"></script>
</body>
</html>
