<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/images/roxa.png" type="image/x-icon">
    <title>Os Python On</title>

    <!--=============== REMIXICONS ===============-->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">


    <!-- ===================CSS=================== -->
    <link rel="stylesheet" href="../static/style.css">

</head>
<body>
    <!--=============== HEADER ===============-->
    <header class="header">
      <nav class="nav container">
         <div class="nav__data">
            <a href="{{ url_for('index') }}" class="nav__logo">
               <img class="logo" src="/static/images/roxa.png" alt=""> Os Python On
            </a>
              
              <div class="nav__toggle" id="nav-toggle">
                 <i class="ri-menu-line nav__burger"></i>
                 <i class="ri-close-line nav__close"></i>
              </div>
           </div>

           <!--=============== NAV MENU ===============-->
           <div class="nav__menu" id="nav-menu">
              <ul class="nav__list">
                 <li><a href="{{ url_for('index') }}" class="nav__link">Home</a></li>

             <li><a href="{{ url_for('conceito') }}" class="nav__link">Conceito</a></li>

                 <!--=============== DROPDOWN 1 ===============-->
                 <li class="dropdown__item">
                    <div class="nav__link">
                      Módulos <i class="ri-arrow-down-s-line dropdown__arrow"></i>
                    </div>

                    <ul class="dropdown__menu">

                       <!--=============== DROPDOWN SUBMENU ===============-->
                       <li class="dropdown__subitem">
                          <a href="{{ url_for('modulo1') }}">
                          <div class="dropdown__link">
                            <p>Módulo</p>1<i class="ri-add-line dropdown__add"></i>
                          </div>
                        </a>
                          
                          <li class="dropdown__subitem">
                             <a href="{{ url_for('modulo2') }}">
                             <div class="dropdown__link">
                                Módulo 2<i class="ri-add-line dropdown__add"></i>
                             </div>
                          </a>
     
                       
                             <li class="dropdown__subitem">
                                <a href="{{ url_for('modulo3') }}">
                                <div class="dropdown__link">
                                   Módulo 3<i class="ri-add-line dropdown__add"></i>
                                </div>
                             </a>
     
     
                                <li class="dropdown__subitem">
                                   <a href="{{ url_for('modulo4') }}">
                                   <div class="dropdown__link">
                                      <p>Módulo</p> 4<i class="ri-add-line dropdown__add"></i>
                                   </div>
                                </a>
         
     
                                   <li class="dropdown__subitem">
                                      <a href="{{ url_for('modulo5') }}">
                                <div class="dropdown__link">
                                   Módulo 5<i class="ri-add-line dropdown__add"></i>
                                </div>
                             </a>
     
                             </ul>
                  
                          
                          <li><a href="{{ url_for('index') }}" class="nav__link">FAQ</a></li>
                       </nav>
  </header>

    <main class="MainModulo5">

        <!--=============== Conteudo Case Studies e Aplicações Reais ===============-->
        <section class="Cont-CaseStudies">
           <h1>Case Studies e Aplicações Reais</h1>
  
           <p class="p-modulo5">O Scrum é um framework ágil comumente utilizado dentro de equipes de tecnologia, mas pode ser aplicado em outras áreas empresariais para facilitar a transformação digital ágil. Ele se baseia em princípios de flexibilidade, melhoria contínua e entregas frequentes, com o objetivo de gerar valor para o cliente de forma ágil e eficiente.</p>
  
           <p class="p-modulo5">No contexto da transformação digital ágil, o Scrum é uma ferramenta poderosa para promover a centralização no cliente, a colaboração entre equipes e a transparência na comunicação. Ele permite que as equipes trabalhem de forma autônoma e adaptativa, entregando incrementos de valor com frequência, reduzindo riscos e aprimorando continuamente os processos.</p>
  
           <p class="p-modulo5">O Scrum também reforça o foco na satisfação do usuário final e apoia a criação de uma cultura empresarial ágil, onde todos compartilham o mesmo mindset de gerar valor e melhorar a eficiência operacional. Ao adotar Scrum, as empresas podem transformar suas equipes e processos, impulsionando a agilidade e a inovação em suas operações diárias.   </p>
        </section>

        <!--=============== Exemplo Amazon ===============-->
        <section class="Cont-Amazon">
           <div class="Amazon-text">
              <div class="Amazon-text-1">
                 <h2>Amazon</h2>
  
                 <p class="p-modulo5">A Amazon é um dos exemplos mais conhecidos de como a metodologia ágil pode ser aplicada em escala em operações globais, não apenas em desenvolvimento de software, mas também em logística e desenvolvimento de novos produtos. </p>      
              </div>
  
              <img src="/static/images/amazon.png" alt="">
           </div>
  
           <p class="p-modulo5">A Amazon aplica no desenvolvimento de produtos como Alexa e AWS, na logística, a empresa adota práticas para otimizar a distribuição de mercadorias .</p>
        </section>

         <!--=============== Exemplo Spotify ===============-->
         <section class="Cont-Spotify">
           <img src="/static/images/spotify.png" alt="">
  
           <div class="Spotify-text">
              <h2>Spotify</h2>
  
              <p class="p-modulo5">O Spotify, uma das maiores plataformas de streaming de música do mundo, adota uma versão única da metodologia ágil, denominada Spotify model. Nesse modelo, a empresa utiliza squads (equipes pequenas e autônomas) para garantir que o trabalho seja realizado de forma eficiente e rápida.</p>
           </div>
        </section>

         <!--=============== Exemplo Lego ===============-->
         <section class="Cont-Lego">     
           <div class="Lego-text">
              <div class="Lego-text-1">
                 <h2>Lego</h2>
  
                 <p class="p-modulo5">A Lego é um exemplo de como a metodologia ágil pode ser aplicada na criação de novos produtos e no desenvolvimento de jogos e aplicativos interativos, além de ser usada para gerenciar sua vasta cadeia de fornecimento.</p>
              </div>
  
              <img src="/static/images/lego.jpg" alt="">
           </div>
  
           <p class="p-modulo5">A Lego usa Scrum para acelerar o desenvolvimento de novos kits de brinquedos e aplica métodos ágeis no design de aplicativos como o Lego Life, ajustando produtos com base no feedback dos usuários. Isso reduziu o tempo de desenvolvimento, impulsionou a inovação e expandiu sua presença digital, atraindo novas gerações de consumidores.</p>
        </section>
  
         <!--=============== Cards Ferramentas para GEstão de Scrum ===============-->
         <h1 style="text-align: center; color: white; margin-bottom: 45px;">Ferramentas para Gestão de Scrum</h1>
         <section class="Cont-GestScrum">
           <div class="Cont-GestScrum">
              <div class="Cont-GestScrum-card">
                  <div class="img-box">
                      <img src="/static/images/jira.png">
                  </div>
                  <div class="content">
                      <h2 class="hsec3m4" >Jira</h2>
                      <p>Uma das ferramentas mais populares para gestão de projetos ágeis, o Jira permite criar e gerenciar backlogs, planejar sprints, atribuir tarefas e acompanhar o progresso da equipe. Sua interface intuitiva e recursos poderosos ajudam a otimizar o fluxo de trabalho, aumentar a produtividade e melhorar a colaboração entre os membros da equipe.</p>
                      <a href="https://www.atlassian.com/br/software/jira?campaign=19324540271&adgroup=143040554285&targetid=kwd-855725830&matchtype=e&network=g&device=c&device_model=&creative=642122380510&keyword=jira&placement=&target=&ds_eid=700000001558501&ds_e1=GOOGLE&gad_source=1&gclid=EAIaIQobChMIqZz5lIjniQMVN5fuAR2-PwuREAAYASAAEgKe7_D_BwE" class="read-more">Saiba mais</a>
                  </div>
              </div>
              <div class="Cont-GestScrum-card">
                  <div class="img-box">
                      <img src="static/images/trello.png">
                  </div>
                  <div class="content">
                      <h2>Trello</h2>
                      <p> O Trello é ideal para equipes pequenas e projetos menores, com foco na metodologia Kanban. Permite organizar tarefas em quadros personalizáveis de "A fazer", "Em progresso" e "Concluído". É intuitivo, flexível e atende startups ou quem busca simplicidade.</p>
                      <a href="https://trello.com/pt-BR?campaign=19269516466&adgroup=148159506607&targetid=kwd-3609071522&matchtype=e&network=g&device=c&device_model=&creative=641463051732&keyword=trello&placement=&target=&ds_eid=700000001557344&ds_e1=GOOGLE&gad_source=1&gclid=EAIaIQobChMIudyorYjniQMVZw5ECB2lCAQJEAAYASAAEgKCi_D_BwE" class="read-more">Saiba mais</a>
                  </div>
              </div>
              <div class="Cont-GestScrum-card">
                  <div class="img-box">
                      <img  src="/static/images/azure.png">
                  </div>
                  <div class="content">
                      <h2>Azure</h2>
                      <p>O Azure Boards, integrado ao Azure DevOps, oferece suporte a Scrum e Kanban. Ele permite gerenciar backlogs, planejar sprints e acompanhar o progresso em quadros. Também se conecta ao Teams e Power BI, facilitando a colaboração e análise em projetos ágeis. </p>
                      <a href="https://azure.microsoft.com/pt-br/pricing/purchase-options/azure-account/search?icid=free-search&ef_id=_k_EAIaIQobChMIx4fwuojniQMVCwVECB1ZnB2UEAAYASAAEgL81vD_BwE_k_&OCID=AIDcmmzmnb0182_SEM__k_EAIaIQobChMIx4fwuojniQMVCwVECB1ZnB2UEAAYASAAEgL81vD_BwE_k_&gad_source=1&gclid=EAIaIQobChMIx4fwuojniQMVCwVECB1ZnB2UEAAYASAAEgL81vD_BwE" class="read-more">Saiba mais</a>
                  </div>
              </div>
            </div>
         </section>

         <!--=============== Conteúdo SCRUM e a Transformação Digital ===============-->
         <section class="Cont-ScrumDigital">
           <h1 class="hmodulo5" >SCRUM e a Transformação Digital</h1>
  
           <p class="p-modulo5">O Scrum é um framework ágil comumente utilizado dentro de equipes de tecnologia, mas pode ser aplicado em outras áreas empresariais para facilitar a transformação digital ágil. Ele se baseia em princípios de flexibilidade, melhoria contínua e entregas frequentes, com o objetivo de gerar valor para o cliente de forma ágil e eficiente.</p>
  
           <p class="p-modulo5">No contexto da transformação digital ágil, o Scrum é uma ferramenta poderosa para promover a centralização no cliente, a colaboração entre equipes e a transparência na comunicação. Ele permite que as equipes trabalhem de forma autônoma e adaptativa, entregando incrementos de valor com frequência, reduzindo riscos e aprimorando continuamente os processos.</p>
  
           <p class="p-modulo5">O Scrum também reforça o foco na satisfação do usuário final e apoia a criação de uma cultura empresarial ágil, onde todos compartilham o mesmo mindset de gerar valor e melhorar a eficiência operacional. Ao adotar Scrum, as empresas podem transformar suas equipes e processos, impulsionando a agilidade e a inovação em suas operações diárias.</p>
         </section>

         <!--=============== QUESTIONÁRIO/HOME ===============-->
         <section class="secmenu" >

            <a href="{{ url_for('quest4') }}">
               <button class="botaomenu">Avaliação</button>
            </a>
            
               <a href="{{ url_for('index') }}">
                  <img class="casamodulos" src="/static/images/casabranca.png" alt="">
               </a>
               
            <a href="{{ url_for('modulo5') }}">
               <button class="botaomenu">Continuar</button>
            </a>
            
            </section>
  
   <footer>
      <a href="https://github.com/Os-Python-On/API-OsPythonOn">
         <img id="gitfooter" src="/static/images/github.png" alt="GitHub">
      </a>
         <p id="pfooter" >© Copyright Os Python On 2024</p> 
   </footer>
  
<!--=============== MAIN JS ===============-->
  <script src="/static/js/main.js"></script>
    
</body>
</html>
