<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/images/roxa.png" type="image/x-icon">
    <title>Os Python On</title>

    <!--=============== REMIXICONS ===============-->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">


    <!-- ===================CSS=================== -->
    <link rel="stylesheet" href="/static/style.css">

</head>
<body>
    <!--=============== HEADER ===============-->
    <header class="header">
      <nav class="nav container">
         <div class="nav__data">
            <a href="{{ url_for('index') }}" class="nav__logo">
               <img class="logo" src="../static/images/roxa.png" alt=""> Os Python On
            </a>
              
              <div class="nav__toggle" id="nav-toggle">
                 <i class="ri-menu-line nav__burger"></i>
                 <i class="ri-close-line nav__close"></i>
              </div>
           </div>

           <!--=============== NAV MENU ===============-->
           <div class="nav__menu" id="nav-menu">
              <ul class="nav__list">
                 <li><a href="{{ url_for('index') }}" class="nav__link">Home</a></li>

             <li><a href="{{ url_for('conceito') }}" class="nav__link">Conceito</a></li>

                 <!--=============== DROPDOWN 1 ===============-->
                 <li class="dropdown__item">
                    <div class="nav__link">
                      Módulos <i class="ri-arrow-down-s-line dropdown__arrow"></i>
                    </div>

                    <ul class="dropdown__menu">

                       <!--=============== DROPDOWN SUBMENU ===============-->
                       <li class="dropdown__subitem">
                          <a href="{{ url_for('modulo1') }}">
                          <div class="dropdown__link">
                            <p>Módulo</p>1<i class="ri-add-line dropdown__add"></i>
                          </div>
                        </a>
                          
                          <li class="dropdown__subitem">
                             <a href="{{ url_for('modulo2') }}">
                             <div class="dropdown__link">
                                Módulo 2<i class="ri-add-line dropdown__add"></i>
                             </div>
                          </a>
     
                       
                             <li class="dropdown__subitem">
                                <a href="{{ url_for('modulo3') }}">
                                <div class="dropdown__link">
                                   Módulo 3<i class="ri-add-line dropdown__add"></i>
                                </div>
                             </a>
     
     
                                <li class="dropdown__subitem">
                                   <a href="{{ url_for('modulo4') }}">
                                   <div class="dropdown__link">
                                      <p>Módulo</p> 4<i class="ri-add-line dropdown__add"></i>
                                   </div>
                                </a>
         
     
                                   <li class="dropdown__subitem">
                                      <a href="{{ url_for('modulo5') }}">
                                <div class="dropdown__link">
                                   Módulo 5<i class="ri-add-line dropdown__add"></i>
                                </div>
                             </a>
     
                             </ul>
                  
                          
                          <li><a href="{{ url_for('index') }}" class="nav__link">FAQ</a></li>
                       </nav>
  </header>
 
 <main>
    <!-- Tópico 1 -->
 
    <h1 class="ias">INTRODUÇÃO AO SCRUM</h1>
    <section class="card-introducao">      
       <div class="card-intro">
          <div class="card__content">
             <p class="pmod1" >O scrum é uma metodologia ágil baseada em sprints que são os ciclos de produção de um projeto, que garante constantes revisões e aperfeiçoamentos para que o resultado seja o melhor possível.</p>              
             <p class="pmod1">O scrum surgiu na década de 80 com os estudantes japoneses Hirotaka Takeuchi e Ikujiro Nonaka, quando eles escreveram um artigo chamado “O novo jogo de negócios”, onde eles descreveram um modelo de desenvolvimento de produtos baseado em equipes auto-organizadas e multidisciplinares, com ciclos curtos de entrega de resultados.</p> 
             <p class="pmod1">Um framework deve ter as seguintes característica-s:</p>
 
             <ul>
                <li class="pmod1">Reusável: Deve ser usável e reutilizável </li>
                <li class="pmod1">Extensível: Deve conter funcionalidade abstrata que possa ser completada</li>
                <li class="pmod1">Seguro: Deve ser seguro para o desenvolvedor de aplicações</li>
                <li class="pmod1">Eficiente: Deve ser eficiente, pois é usado em muitas situações</li>
                <li class="pmod1">Completo: Deve ser completo para endereçar o domínio do problema</li> 
                <li class="pmod1">Bem documentado: Deve ser bem documentado e ter uma forma específica para ser implementado</li>
             </ul>
          </div>
       </div>
 
    </section>
 
    <!-- Tópico 1 -->
 
    <!-- Tópico 2 -->
    <h1 class="pds">PILARES DO SCRUM</h1>
    <section class="card-t2">      
       <div id="pds" class="card">
          <div class="card__content">
             <h2>Transparência</h2>
             <p>Ao promover o compartilhamento claro e sincero de informações entre todas as partes interessadas do projeto, a transparência é a base da confiança e da colaboração.</p>
          </div>
       </div>
 
       <div class="card">
          <div class="card__content">
             <h2>Inspeção</h2>
             <p>Gira em torno de avaliação e revisão consistentes. As equipes podem identificar desvios por meio de avaliações regulares, promovendo melhorias e mantendo a trajetória rumo ao sucesso do projeto.</p>
          </div>
       </div>
 
       <div class="card">
          <div class="card__content">
             <h2>Adaptação</h2>
             <p>Após inspecionar o produto e o processo, a equipe adapta estratégias com base nos dados obtidos, permitindo correções rápidas à medida que adquirem novas informações e compreendem melhor o projeto.</p>
          </div>
       </div>
    </section>
 
    <!-- Tópico 2 -->
 
    <!-- Tópico 3 -->
    <h1 class="pns">PAPEIS NO SCRUM</h1>
    <section class="cards-conceito" >
       <div id="pns" class="card-conceito">
          <div class="content-mod1">
             <div class="titulo-card">
                <img class="img-card" src="/static/images/master.png">
                   <h2>Scrum Master</h2>
             </div>
                   <p class="para">
                   O Scrum Master garante que a equipe siga o Scrum, atuando como líder, facilitador e orientador para implementar o framework e entregar os resultados.
                   </p>
             </div>
          </div>
       </div>
 
       <div class="card-conceito">
          <div class="content-mod1">
             <div class="titulo-card">
                <img class="img-card" src="/static/images/PO.webp">
                   <h2>Product Owner</h2>
             </div>
                   <p class="para">
                         O Product Owner representa o cliente, gerencia o produto e garante que atenda aos requisitos definidos.
                   </p>
             </div>
          </div>
       </div>
 
       <div class="card-conceito">
          <div class="content-mod1">
             <div class="titulo-card">
                <img class="img-card" src="/static/images/dev team.png">
                   <h2>Dev Team</h2>
             </div>
                   <p class="para">
                   O Dev Team é a equipe de desenvolvimento responsável por desenvolver, testar e construir o produto no Scrum.
                   </p>
             </div>
          </div>
       </div>
    </section>
    <!-- Tópico 3 -->
 </main>
 
 <section class="Mod3-quest">
   <div class="Mod3-quest-quest">
      <a href="{{ url_for('quest1') }}" class="Mod3-quest-quest"><b>QUESTIONÁRIO</b></a>
   </div>
   <a href="{{ url_for('index') }}" style="margin-right: 20px;">
       <img src="/static/images/casabranca.png" alt="" style="width: 80%;">
   </a>
   <div class="button-section">
      <a href="{{ url_for('modulo2') }}" class="start-button">Avançar</a>
   </div>
</section>

 
 
 
 <footer> 
         
    <a href="https://github.com/Os-Python-On/API-OsPythonOn">
        <img id="gitfooter" src="/static/images/github.png" alt="GitHub">
    </a>
        <p id="pfooter" >© Copyright Os Python On 2024</p> 
 </footer>
 
 <!--=============== MAIN JS ===============-->
 <script src="/static/js/main.js"></script>
</body>
</html>
